:root{
	--black:#2b2b2b;
	--white:#ffff;
	--yellow:#f7ca18;
	--bg:#2b2b2b33;
	--blue:#1b8bcc;
	--br-color:#00000017;
}
.darkMode{
	--black:#ffff;
	--white:#2b2b2b;
	--blue:#ffff;
	--br-color:rgba(255, 255, 255, 0.09);
}
body{
	background-color: var(--white);
	color: var(--black);
}
i{
	color: var(--black);
}

.nav-container{
	background-color: var(--white);
}
.bg-1{
	background-image: url(./img/slayder-1.png);
	background-size: cover;
}
.bg-2{
	background-image: url(./img/slayder-2.png);
	background-size: cover;
}
.fa-angle-right, .fa-angle-left{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--white);	
		transform: scale(0);
		transition: transform 0.5s ease;
}
.slider:hover .fa-angle-right ,
.slider:hover .fa-angle-left{
	transform: scale(1);
}

.fa-angle-right:hover , .fa-angle-left:hover{
	cursor: pointer;
}
#sun{
	i{
		color:var(--yellow);
		
	}
}
.lightDark{
	border: var(--black) 1px solid;
}
.manuBar{
	ul{
		color:white;
	}
	.lightDark{
		border: white 1px solid;
	}
	i{
		color: var(--white);
	}
	#sun1{
		i{
			color: var(--yellow);
		}
	}
}
#menuNav{
	i{
		color: white !important;
	}
}

@layer utilities {
	.scrollbar-hide::-webkit-scrollbar {
			display: none;
	}
	.scrollbar-hide {
			scrollbar-width: none;
	}
}